<h2>My Heroes</h2>

<ul class="heroes">
  <!-- *nfFor use to loop through the array of heroes -->
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!-- ANCHOR[id=3] [hero]="selectedHero" is property binding, whenever selectedHero change -->
<!-- it passed hero (property {state in React}) down to it child component (app-hero-detail) -->
<!-- LINK ../hero-detail/hero-detail.component.html#4 -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
